@font-face {
    font-family: "VarelaRound";
    src: url(font/VarelaRound-Regular.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "VarelaRound";
}

.container {
    width: 800px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    flex-basis: 300px ;
    text-align: center;
    color: #ad1606;
    font-weight: bold;
    margin: 5px;
}

.item:hover{
    box-shadow: inset 0px 0px 90px #fcc414;
}

main > p{
    text-align: center;
}
.foto {
    display: block;
    height: 200px;
}


#foto1 {
    background: url(icones/bebida.jpg) center center;
    background-size: contain;
}

#foto2 {
    background: url(icones/doce.jpg) center center;
    background-size: contain;
}

#foto3 {
    background: url(icones/esfiha.jpg) center center;
    background-size: contain;
}

#foto4 {
    background: url(icones/hamburguer.jpg) center center;
    background-size: contain;
}

#foto5 {
    background: url(icones/pizza.jpg) center center;
    background-size: contain;
}

#foto6 {
    background: url(icones/porcao.jpg) center center;
    background-size: contain;
}

#foto7 {
    background: url(icones/refeicao.jpg) center center;
    background-size: contain;
}

#foto8 {
    background: url(icones/salgado.jpg) center center;
    background-size: contain;
}

#foto9 {
    background: url(icones/sushi.jpg) center center;
    background-size: contain;
}

body {
    background: url(fundopc.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    background-color: #ad1606;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header > img {
    height: 80px;
    padding: 7px;
}


main {
    display: block;
    margin: auto;
    max-width: 800px;
    background-color:#fff8e4;
}







/* CEL */
@media (max-width: 600px){
    header > img {
        height: 55px;
    }

}