:root {
    --corlaranja: #ffb300;
    --corlaranjaescura: #e09d00;
    --marrom: #836400;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 50px ;
}

.header img {
    height: 60px;
}

.header div {
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#fh {
    display: flex;
    gap: 15px;
    align-items: center;
}


#areac a {
    color: var(--corlaranjaescura);
    font-weight: bold;
    padding: 10px 30px; 
    border-radius: 10px;
}

#areac a:hover{
    background-color: #fff0cda2;
}

#botaoheader {
    color: var(--corlaranjaescura);
    padding: 10px 30px;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--corlaranjaescura);
    cursor: pointer;
}

#botaoheader:hover {
    background-color: #fff0cda2
}


.principal {
    
    height: 730px;
    display: grid;
    grid-template-columns: 1fr 50.5%;
}

#esquerdo {
    background-color: var(--corlaranjaescura);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-left: 80px;
}

#esquerdo p { 
    color: white;
    font-weight: bolder;
    font-size: 3rem;

}

#esquerdo a {
    font-size: 1rem;
    background-color: white;
    padding: 15px 70px;
    color: var(--corlaranjaescura);
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

#esquerdo a:hover{
    color: var(--corlaranja);
    background-color: rgba(255, 255, 255, 0.863);
}

#esquerdo img {
    width: 20px;
}

#direito {
    background: url(imagens/lateral.jpg);
    background-position: center;
    background-size: cover;
}

#meio {
    order: 1;
    background-color: #c2c2c2;
    display: block;
    position: sticky;
    margin-top: -80px;
    margin-left: 140px;
    margin-bottom: 100px;
}

#dmeio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px 20px;
}

#dmeio h2 {
    font-size: 2.5rem;
}

#dmeio p {
    font-size: 1.1rem;
    padding: 10px 0px;
}

.botaot {
    text-decoration: none;
    color: var(--marrom);
    padding: 12px 35px;
    font-weight: bolder;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--marrom);
}

.botaot:hover {
    background-color: #8a600054;
}

#segmeio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 50px;
    padding: 50px 65px;
}

#segmeio h2, h3 {
    color: #333333;
}

#segmeio p {
    color: #3d3d3d;
    font-size: 1.1rem;
    padding: 0px 5px 5px 0px;
}

#sme p {
    padding: 20px 0px;
}

#sme h2 {
    font-size: 2.5rem;
}

#smd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

#smd img {
    width: 45px;
}

#smd h3 {
    margin-left: -20px;
    border-left: solid;
    padding-left: 20px;
    border-color: var(--marrom);
}

#divisoria {
    margin-top: 200px;
    height: 400px;
    background-color: transparent;
}

#divisoria::before {
    position: absolute;
    z-index: -1;
    content: '';
    height: 700px;
    width: 100%;
    background-color:var(--corlaranjaescura);
    transform: skewY(-4deg);
}

#divemp {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

#flateral {
    margin-top: -100px;
    background-image: url(imagens/lateraldois.jpg);
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}