@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');


:root {
    --laranja: #fd810d;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: url(fundo.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 10000;
    padding: 0px 20px;
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header img {
    width: 150px;
}

.header ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: var(--laranja);
}

nav {
    display: none;
}

#menu {
    color: var(--laranja);
}



.container {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.877);
}

.titcont {
    margin-top: 250px;
}

.titcont h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding: 10px;
    color: var(--laranja);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);
}

.container h2 {
    font-size: 1.3rem;
}

hr {
    border-style: solid;
}


.newst {
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
    gap: 10px;
}

.newst img {
    width: 100%;
}

.vejamais h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding: 10px;
    color: black;
    text-align: center;
    background-color: var(--laranja);
}

.vejamais {
    margin-top: -20px;
}

.topicos {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topicos a {
    background-color: rgba(0, 0, 0, 0.719);
    padding: 8px;
    color: var(--laranja);
    border-radius: 10px;
    text-decoration: none;
}



.titcont2 h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding: 10px;
    color: var(--laranja);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);
}


#agenda {
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 10px;
}

#agenda img {
    width: 100%;
}

#agenda a {
    color: #fd810d;
    text-decoration: none;
    font-weight: bold;
}

.container2 {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.705);
}

#cal {
    align-content: center;
    height: 100%;
    padding-right: 8px;
    border-right: var(--laranja) solid;
}

#lshows p {
    border-bottom: var(--laranja) solid 1px;
    padding: 5px;
}

#res {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}


#res img {
    border-radius: 20px;
    width: 100px;
}

#res a {
    color: black;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

.bandas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bandas h2 {
    color: white;
}

.bandas p {
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
}

.bandas a {
    color: var(--laranja);
    text-decoration: none;
}

footer {
    padding-top: 30px ;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);
}

footer img {
    width: 180px;
}

footer p {
    padding: 5px;
    color: white;
}

footer a{
    color: var(--laranja);
    text-decoration: none;
    font-weight: bold;
}

.laterais {
    display: none;
}

@media (min-width: 600px) {
    body {
        background-position: center;
    }

    nav {
        display: flex;
    }

    #menu {
        display: none;
    }

    .header ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        gap: 60px;
    }

    .header {
        padding: 0px 50px;
        height: 65px;
        position: relative;
        background: rgba(0, 0, 0, 0.705);
    }
    .cont {
        background-color: rgba(117, 117, 117, 0.507);
        width: 930px;
        margin: auto;
    }

    .fundo {
        background-color: rgba(0, 0, 0, 0.87);
    }

    footer {
        background-color: black;
    }

    .newst {
        grid-template-columns: 15% 1fr;
    }

    #agenda {
        grid-template-columns: 30% 1fr;
    }

    #agenda img {
        width: 100%;
    }

    #cal {
        margin: auto;
    }

    .resenhas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    #res {
        flex-direction: row;
    }

    .bandas {
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }
    
    .bandas a {
        padding-right: 15px;
    }

    .sobrenos {
        text-align: center;
    }

    .laterais {
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 345px;
    }

    #esquerda {
        padding-left: 25px;
        flex-basis: 250px;
    }

    #direita {
        padding-right: 25px;
        flex-basis: 250px;
    }

    #esquerda p {
        display: grid;
        grid-template-columns: 30% 1fr;
        align-items: center;
        gap: 15px;
    }

    #esquerda img {
        width: 100%;
    }
    
    #esquerda a, #direita a {
        font-size: .9rem;
        color: rgb(209, 209, 209);
        text-decoration: none;
    }

}