@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin : 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, rgb(26, 22, 43), rgb(57, 50, 95));
    color: rgb(218, 231, 239);
    font-family: "Merriweather", serif;
}

section {
    max-width: 850px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    color: rgb(234, 177, 77);
    font-size: 2.7rem;
    padding-top: 180px;
    text-align: center;
}

h2, h3 {
    border-bottom: solid;
    color: rgb(234, 177, 77);
}

.header {
    background-color: rgb(26, 22, 43);
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    padding-left: 10px;
    height: 70px;
}

ul {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: space-around;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(234, 177, 77) ;
}

.proximo {
    height: 80px;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    opacity: 0.3;
    transition: 0.5s;
}

.proximo:hover {
    opacity: 1;
    padding-top: 100px;
}

.inicio {
    background: url(inicio.jpg);
    height: 25vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1#inicio {
    padding-top: 10px;
}


.container {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    gap: 20px;
}

.containera {
    display: grid;
    grid-template-columns: 1fr 1fr 60%;
    gap: 10px;
}

.unico {
    display: grid;
    grid-template-columns: 70% 1fr;
    gap: 20px;
}

img {
    max-width: 100%;
}

.containerb {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}

.containerb > div {
    flex-basis: 300px;
}

.containerb > div:nth-child(1) {
    flex: auto;
}

.contato {
    border-radius: 20px;
    background-color: rgb(234, 177, 77);
    padding: 20px;
    color: rgb(26, 22, 43) ;
}

#contato {
    padding-bottom: 100px;
}

textarea {
    resize: none;
    width: 100%;
    border-style: none;
}

.botao {
    padding: 15px;
    background-color: rgb(26, 22, 43);
    border-style: none;
    color: rgb(234, 177, 77);
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    border-radius: 20px 0px;
}

#bot {
    margin: 0px;
    display: flex;
    justify-content: end;
}

footer {
    text-align: center;
    background-color: rgb(26, 22, 43) ;
    padding: 15px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {

    #btn-mobile {
        display: block;
    }

    .material-symbols-outlined {
        color: rgb(234, 177, 77);
        padding: 20px;
    }

    #menu {
        opacity: 0;
        display: flex;
        position: absolute;
        width: 30%;
        top: 70px;
        right: 0px;
        background: rgb(26, 22, 43);
        transition: .2s;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.466);
    }

    #nav.active #menu {
        opacity: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
    }

    #menu li {
        flex-basis: 10px;
        border-bottom: solid;
        border-color: rgba(234, 176, 77, 0.219);
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }
    .container >div:nth-child(3) {
        grid-column: 1 / 3;
    }

    .containera {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .inicio {
        height: 15vh;
    }
    h1#inicio {
        margin-top: 0px;
        padding-top: 0px;
    }

    .unico {
        grid-template-columns: 1fr;
    }
    .containerb {
        justify-content: center;
    }
}